<app-navigation></app-navigation>
<div class="box">
  <div *ngIf="user">
      <div><span class="nameUserText">Meno: </span><span class="nameUser">{{user.firstName}} {{user.lastName}}</span></div>
      <div><span class="addressText">Adresa: </span><span class="address">{{user.city}}, {{user.address}}</span></div>
      <div><span class="telephoneText">Telefónne číslo: </span><span class="telephone">{{user.phoneNumber}}</span></div>
      <div><span class="emailText">Email: </span><span class="email">{{user.email}}</span></div>
  </div>
</div>
