<app-navigation xmlns="http://www.w3.org/1999/html"></app-navigation>
<div class="box">
  <div *ngIf="item">
      <div class="name">{{item.name}}</div>
      <div><span class="descriptiontext">Popis:</span> <span class="description">{{item.description}}</span></div>
      <div><span class="textprice">Cena:</span> <span class="price">{{item.price}}€</span></div>
      <div class="contact">
        <div class="contactinformation">Kontaktné údaje</div>
        <div><span class="nameusertext">Meno:</span><span class="nameuser"></span></div>
        <div><span class="addresstext">Adresa:</span><span class="address"></span></div>
        <div><span class="telephonetext">Telefónne číslo:</span><span class="telephone"></span></div>
        <div><span class="emailtext">Email:</span><span class="email"></span></div>
      </div>
  </div>
</div>
<button (click)="goBack()">go back</button>
