
<body>
<div class="title">
    <h1>{{title}}</h1>
</div>    
    <div class="leftpanel">
        <a class="login" routerLink="login">Prihlásiť sa</a>
        <a class="addpage">Pridať inzerát</a>
        <a class="contact">Kontakt</a>
    </div>
    <ul class="items">
        <li *ngFor="let item of items" >
            <a routerLink="/detail/{{item.id}}">
                <span class="name">{{item.name}}</span><span class="price">{{item.price}}€</span>
            </a>
            
        </li>
    </ul>
</body>