<app-navigation xmlns="http://www.w3.org/1999/html"></app-navigation>
<div class="box">
  <div *ngIf="item">
      <div class="name">{{item.name}}</div>
      <div><span class="descriptionText">Popis:</span> <span class="description">{{item.description}}</span></div>
      <div><span class="textPrice">Cena:</span> <span class="price">{{item.price}}€</span></div>
      <div class="contact">
        <div class="contactInformation">Kontaktné údaje</div>
        <div><span class="nameUserText">Meno:</span>{{user.firstName}} {{user.lastName}}<span class="nameUser"></span></div>
        <div><span class="addressText">Adresa:</span>{{user.city}}, {{user.address}}<span class="address"></span></div>
        <div><span class="telephoneText">Telefónne číslo:</span>{{user.phoneNumber}}<span class="telephone"></span></div>
        <div><span class="emailText">Email:</span><span class="email">{{user.email}}</span></div>
      </div>
  </div>
</div>
<button (click)="goBack()">go back</button>
