<app-navigation></app-navigation>
<div class="dropdown">
    <button class="dropbtn">Zoradiť podľa</button>
    <div class="dropdown-content">
      <a (click)="sortItem('name')">Názvu</a>
      <a (click)="sortItem('price')">Ceny</a>
    </div>
</div>

<hr>
<div class="items">
    <div *ngFor="let item of items" routerLink="/detail/{{item.id}}" class="buble">
      <img class="img" [src]="item.image">
      <div class="name">{{item.name}}</div>
      <div class="price">{{item.price}}€</div>
    </div>
</div>
