* {
  font-family: Arial, Helvetica, sans-serif;
}

.items {
  list-style-type: none;
  padding: 0;
  width: 900px;
  margin: 0 auto;
  margin-top: 150px;
}
.items li {
  cursor: pointer;
}

.items li:hover {
  left: 0.1em;
}

.items a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgb(248, 215, 185);
  margin: auto;
  margin-top: 40px;
  padding: 3em 0;
  height: 50px;
  border-radius: 50px;
  display: block;
  width: 100%;
  border: 2px solid black;
}

.items a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.items a:active {
  background-color: #525252;
  color: #fafafa;
}
.name {
  text-align: center;
  padding-left: 30%;
  font-size: 30px;
}
.price {
  text-align: center;
  float: right;
  padding-right: 40px;
  font-size: 30px;
}
input[type=button], input[type=submit], input[type=reset]  {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: black;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
